@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Source Serif Pro';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-weight: 600;
}

.extra {
  font-weight: 900;
}

.logo {
  width: 300px;
}

.headshot {
  width: 500px;
}

.animation2 {
  position: relative;
  top: -150px;
}

.animation3 {
  position: relative;
  top: -50px;
}

.headshot {
  position: relative;
  left: 100px;
  width: 400px;
}

.mok {
  position: relative;
  top: -20px;
  width: 350px;
  left: 100px
}
