@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Lato';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-weight: 400;
}

.extra {
  font-weight: 700;
}

.ital {
  font-weight: 700;
  font-style: italic;
}

.logo {
  width: 300px;
}

.headshot {
  width: 500px;
}

.animation1 {
  left: 400px;
}

.animation2 {
  position: relative;
  top: -150px;
}

.animation3 {
  position: relative;
  top: -50px;
}

.headshot {
  position: relative;
  left: 100px;
  width: 400px;
}

.mok {
  position: relative;
  top: -20px;
  width: 350px;
  left: 100px
}


