@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Lato";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100vw;
}

.body {
  position: relative;
  padding-top: 80px;
}

.partners {
  width: 100vw;
}

.title {
  font-weight: 400;
}

.extra {
  font-weight: 700;
}

.ital {
  font-weight: 700;
  font-style: italic;
}

.logo {
  width: 200px;
}

.brandLogo {
  width: 25vw;
}

.animation1 {
  width: 1400px;
}

.animation2 {
  position: relative;
  top: -150px;
}

.animation3 {
  position: relative;
  top: 50px;
  left: 50px;
  width: 40vw;
}

.shopify {
  left: 70px;
}

.choosing {
  top: -20px;
}

.card {
  box-shadow: -7px 7px black;
}

.brand {
  position: relative;
  width: 200px;
}
